# ~/.ssh/config snippet for iac-dev-box
#
# The iac-dev-box scripts can update this Host entry automatically.
# After `terraform apply`, run:
#
#   ./scripts/update_ssh_config.sh
#   ssh dev-box
#
# Example entry (HostName will be updated automatically):

Host dev-box
  HostName 35.83.240.248
  Port 22
  User ec2-user
  IdentityFile ~/.ssh/dev-box.pem
  ForwardAgent yes
  StrictHostKeyChecking accept-new
  UserKnownHostsFile ~/.ssh/known_hosts
  UpdateHostKeys yes
  LogLevel ERROR
  ServerAliveInterval 60
  ServerAliveCountMax 3
  IdentitiesOnly yes
  AddKeysToAgent yes
  HostKeyAlias dev-box
